<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>荧惑音乐</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>荧惑音乐</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
			<key>NSAllowsArbitraryLoadsForMedia</key>
			<true/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
			<key>NSExceptionDomains</key>
			<dict>
				<key>aliyundrive.cloud</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<!-- OAuth 回调 URL Scheme -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>xmusic.oauth</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>xmusic</string>
				</array>
			</dict>
		</array>
		<key>NSLocalNetworkUsageDescription</key>
		<string>需要访问本地网络以支持调试和开发功能。</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_dartobservatory._tcp</string>
			<string>_dartVmService._tcp</string>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>需要访问相册</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>需要保存文件到相册</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>需要访问麦克风以支持音频录制和相关功能。</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>用于提供更精准的数据统计与分析。</string>
		<!-- 文件访问权限 -->
		<key>NSDocumentsFolderUsageDescription</key>
		<string>需要访问文档文件夹以导入和管理本地音频文件。</string>
		<key>LSSupportsOpeningDocumentsInPlace</key>
		<true/>
		<key>UIFileSharingEnabled</key>
		<true/>
		<!-- 动态图标配置 -->
		<key>CFBundleIcons</key>
		<dict>
			<key>CFBundleAlternateIcons</key>
			<dict>
				<key>x</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>x</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>adiohead</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>adiohead</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>azora</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>azora</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>bqb</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>bqb</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>dzq</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>dzq</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>guns</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>guns</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>jay</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>jay</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>jea</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>jea</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>pat</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>pat</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>peter</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>peter</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>queen</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>queen</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>the</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>the</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>voodoo</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>voodoo</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
				<key>xzq</key>
				<dict>
					<key>CFBundleIconFiles</key>
					<array>
						<string>xzq</string>
					</array>
					<key>UIPrerenderedIcon</key>
					<false/>
				</dict>
			</dict>
			<key>CFBundlePrimaryIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
